.youtube-video
{
    width: 100vw;
    position: relative;
    padding-top: 30px;
    height: auto;
    overflow: hidden;
    color: whitesmoke;
    text-align: center;
    background: cadetblue;
    h2 {
        font-size: 36px;
        text-transform: capitalize;
        font-weight: 600;
    }
    .description {
        height: 30vh;
        font-size: 24px;
        font-weight: 400;
    }
    img {
        width: 60%;
        height: auto;
    }
}
